In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Life Expectancy Data v2.csv')
data

,Country,Year,Status,Life expectancy (men),Life expectancy(women),Adult Mortality (men),Adult Mortality (women),Infant deaths,Alcohol,Percentage expenditure,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,70,66,67,65,62,0.01,71.279624,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59,67,73,85,64,0.01,73.523582,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,79,51,87,67,66,0.01,73.219243,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,65,81,63,91,69,0.01,78.184215,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,76,75,57,72,71,0.01,7.097109,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,67,69,62,85,27,4.36,0.000000,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,62,75,96,61,26,4.06,0.000000,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,50,74,55,95,25,4.43,0.000000,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,66,66,74,78,25,1.72,0.000000,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,55,76,76,98,24,1.68,0.000000,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [3]:
conteo_paises = data['Country'].value_counts()
diccionario_paises = conteo_paises.to_dict()
for country in diccionario_paises:
    if diccionario_paises[country] != 16:
        print(country,diccionario_paises[country])

Tuvalu 1
Cook Islands 1
Marshall Islands 1
Monaco 1
Palau 1
Niue 1
San Marino 1
Nauru 1
Saint Kitts and Nevis 1
Dominica 1

In [4]:
america = [
    'Antigua and Barbuda',
    'Argentina',
    'Bahamas',
    'Barbados',
    'Belize',
    'Bolivia (Plurinational State of)',
    'Brazil',
    'Canada',
    'Chile',
    'Colombia',
    'Costa Rica',
    'Cuba',
    'Ecuador',
    'El Salvador',
    'United States of America',
    'Grenada',
    'Guatemala',
    'Guyana',
    'Haiti',
    'Honduras',
    'Jamaica',
    'Mexico',
    'Nicaragua',
    'Panama',
    'Paraguay',
    'Peru',
    'Dominican Republic',
    'Saint Vincent and the Grenadines',
    'Saint Lucia',
    'Suriname',
    'Trinidad and Tobago',
    'Uruguay',
    'Venezuela (Bolivarian Republic of)'
]

dictionary_men = {}
dictionary_women = {}

for pais in america:
    aux_men = data[data['Country'] == pais]['Life expectancy (men)'].tolist()
    aux_women = data[data['Country'] == pais]['Life expectancy(women)'].tolist()

    dictionary_men[pais] = [aux_men[15],aux_men[0]]
    dictionary_women[pais] = [aux_women[15], aux_women[0]]

In [5]:
men_file = open('Life_Expectancy_Men.csv','w')
women_file = open('Life_Expectancy_Women.csv', 'w')

men_file.write('Country,2000,2015\n')
women_file.write('Country,2000,2015\n')

for pais in dictionary_men:
    men_file.write(pais+','+str(dictionary_men[pais][0])+','+str(dictionary_men[pais][1])+'\n')
    women_file.write(pais+','+str(dictionary_women[pais][0])+','+str(dictionary_women[pais][1])+'\n')

men_file.close()
women_file.close()

In [6]:
dictionary_men = {}
dictionary_women = {}

for pais in america:
    aux_men = data[data['Country'] == pais]['Life expectancy (men)'].tolist()
    aux_women = data[data['Country'] == pais]['Life expectancy(women)'].tolist()
    aux_GDP = data[data['Country'] == pais]['GDP'].tolist()

    if pd.isna(aux_GDP[15]):
        if pd.isna(aux_GDP[0]):
            dictionary_men[pais] = [aux_men[15],aux_men[0],aux_GDP[15],aux_GDP[0]]
            dictionary_women[pais] = [aux_women[15], aux_women[0],aux_GDP[15],aux_GDP[0]]
        else:
            dictionary_men[pais] = [aux_men[15],aux_men[0],aux_GDP[15],round(aux_GDP[0])]
            dictionary_women[pais] = [aux_women[15], aux_women[0],aux_GDP[15],round(aux_GDP[0])]
    else:
        if pd.isna(aux_GDP[0]):
            dictionary_men[pais] = [aux_men[15],aux_men[0],round(aux_GDP[15]),aux_GDP[0]]
            dictionary_women[pais] = [aux_women[15], aux_women[0],round(aux_GDP[15]),aux_GDP[0]]
        else:
            dictionary_men[pais] = [aux_men[15],aux_men[0],round(aux_GDP[15]),round(aux_GDP[0])]
            dictionary_women[pais] = [aux_women[15], aux_women[0],round(aux_GDP[15]),round(aux_GDP[0])]

dictionary_men

ValueError: cannot convert float NaN to integer